@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-weight: 275;
}

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

body,
html {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  width: 100%;
}

header {
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
  background-color: #fff;
  text-align: right;

  nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2.2rem;
  }

  .company-icon {
    display: flex;
    align-items: center;

    &:hover {
      animation: jello-horizontal 0.9s both;
    }
  }

  .hamburger-image {
    height: 50px;
    width: 50px;
    display: none;
  }

  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    transition: all 0.3s ease;
  }

  .menu li.active {
    display: flex;
    align-items: center;
    border-radius: 1rem;
    padding: 8px 16px;
    box-shadow: 0px 6px 5.2px 0px #00000014 inset;
  }

  a {
    color: black;
    text-decoration: none;
  }

  @media (max-width: 1400px) {
    height: auto;

    nav {
      flex-direction: column;
      align-items: center;
      padding: 1.2rem 1.8rem;

      .company-icon {
        display: none;
      }

      .hamburger-image {
        margin: 0 auto 10px auto;
        display: block;
      }

      ul.menu {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      ul.menu.show {
        opacity: 1;
        max-height: 500px;
      }

      li {
        padding: 0.8rem;
      }
    }
  }

  @media (max-width: 768px) {
    nav {
      padding: 1rem 1.4rem;

      ul {
        li {
          padding: 0.6rem;
        }
      }
    }
  }

  @media (max-width: 480px) {
    nav {
      padding: 0.8rem 1rem;
    }
  }
}

.div-common {
  display: flex;
  gap: 1rem;
}

// Styles for squares
.square {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: inset 0 0 10px rgba(236, 233, 233, 0.386),
    10px 10px 25px rgba(0, 0, 0, 0.1);
  transition: all 0.8s;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 4px 4px 13px 3px rgba(37, 211, 234, 0.3);
  }

  user-select: none;
}

.small-square {
  @extend .square;
  width: 140px;
  height: 140px;
}

.small-square-1 {
  @extend .small-square;
  box-shadow: 10px 10px 25px 0px #00000014 inset;
  background: rgb(148, 148, 148);
  background: linear-gradient(140deg,
      rgba(152, 151, 151, 0.3) 0%,
      rgba(207, 207, 207, 0.2) 35%,
      rgba(255, 255, 255, 0.1) 100%);
}

.small-square-2 {
  @extend .small-square;
  box-shadow: 10px 10px 25px 0px #00000014 inset,
    4px 4px 145px -100px #0000000d inset;
}

.small-square-3 {
  @extend .small-square;
  box-shadow: 10px 10px 25px 0px #00000014 inset, 4px 4px 4px 0px #0000001f;
}

.big-square {
  @extend .square;
  width: 296px;
  height: 296px;
  border-radius: 2rem;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.12),
    50px 50px 120px -42px rgba(0, 0, 0, 0.1) inset;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 160px;
  font-weight: 800;
  background: linear-gradient(135.69deg,
      rgba(90, 94, 157, 1) -46.68%,
      rgba(197, 239, 238, 1) 87.12%);

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  user-select: none;

  mask-image: linear-gradient(to top, transparent, black);
  -webkit-mask-image: linear-gradient(to top, transparent, black);

  @keyframes removeMask {
    0% {
      mask-image: linear-gradient(to top, transparent, black);
      -webkit-mask-image: linear-gradient(to top, transparent, black);
    }

    100% {
      mask-image: none;
      -webkit-mask-image: none;
    }
  }

  &:hover {
    animation: removeMask 0.1s ease-in-out forwards;
  }
}

#introduction {
  .upper-container {
    display: flex;
    justify-content: space-between;
  }

  .upper-container-mobile {
    display: none;
  }

  .left-side-container {
    display: grid;
    grid-template-columns: repeat(4, 140px);
    column-gap: 1rem;
    row-gap: 1rem;
  }

  .div1 {
    grid-area: 1 / 1 / 8 / 2;
    @extend .div-common;
    flex-direction: column;
  }

  .div2 {
    grid-area: 7 / 2 / 8 / 6;
    @extend .div-common;
  }

  .div3 {
    grid-area: 5 / 2 / 7 / 4;
  }

  .div4 {
    grid-area: 6 / 4 / 7 / 6;
    @extend .div-common;
  }

  .div5 {
    grid-area: 5 / 4 / 6 / 5;
  }

  .div6 {
    grid-area: 3 / 2 / 5 / 4;
    @extend .div-common;
    flex-wrap: wrap;
  }

  .right-side-container {
    @extend .left-side-container;
  }

  .div7 {
    grid-area: 1 / 6 / 4 / 7;
    @extend .div-common;
    flex-direction: column;
  }

  .div8 {
    grid-area: 5 / 6 / 8 / 7;
    @extend .div-common;
    flex-direction: column;
  }

  .div9 {
    grid-area: 1 / 4 / 3 / 6;
  }

  .div10 {
    grid-area: 3 / 5 / 6 / 6;
    @extend .div-common;
    flex-direction: column;
  }

  .div11 {
    grid-area: 7 / 5 / 8 / 6;
  }

  .div12 {
    grid-area: 5 / 4 / 6 / 5;
  }

  .div13 {
    grid-area: 3 / 4 / 4 / 5;
  }

  .div14 {
    grid-area: 2 / 3 / 3 / 4;
  }

  .div15 {
    grid-area: 1 / 1 / 2 / 4;
    @extend .div-common;
  }

  .center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
  }

  .company-icon {
    position: relative;
    left: 215px;
    top: 70px;
  }

  .extention {
    position: relative;
    left: 620px;
    bottom: 68px;
  }

  .main-title {
    height: 180px;
  }

  .subtitle {
    width: 700px;
    color: #0f110e;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 275;
    line-height: normal;
  }

  .lower-container {
    margin: 240px 50px 0 50px;
    display: flex;
    justify-content: center;
    gap: 100px;

    .squares-container {
      display: grid;
      grid-template-columns: repeat(4, 140px);
      column-gap: 1rem;
      row-gap: 1rem;
    }

    .div1 {
      grid-area: 2 / 1 / 3 / 2;
    }

    .div2 {
      grid-area: 1 / 2 / 2 / 4;
      @extend .div-common;
    }

    .div3 {
      grid-area: 2 / 2 / 4 / 4;

      .big-square {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 150px;
          height: 150px;
        }
      }
    }

    .div4 {
      grid-area: 4 / 2 / 5 / 3;
    }

    .div5 {
      grid-area: 3 / 4 / 4 / 5;
    }

    .welcome-to-esquare {

      h1,
      h2 {
        width: 472px;
        color: #282a7f;
        font-weight: 400;
      }

      h1 {
        font-size: 32px;
        line-height: 48px;
      }

      h2 {
        font-size: 20px;
        margin-bottom: 20px;
      }

      p {
        margin-bottom: 30px;
        font-size: 20px;
        line-height: 30px;
      }
    }
  }

  @media (max-width: 1400px) {
    .upper-container-mobile {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 150px;

      img {
        width: 850px;
        height: auto;
        object-fit: cover;
      }

      .mobile-main-title-squares {
        display: none;
      }
    }

    .upper-container {
      display: none;
    }

    .lower-container {
      align-items: center;
      margin: 90px 50px 0 50px;

      .squares-container {
        display: grid;
        grid-template-columns: repeat(4, 140px);
      }
    }
  }

  @media (max-width: 1200px) {
    .lower-container {
      .div2 {
        grid-area: 1 / 1 / 1 / 3;
      }

      .div3 {
        grid-area: 2 / 1 / 3 / 3;
      }

      .div4 {
        grid-area: 3 / 1 / 4 / 2;
      }

      .squares-container {
        grid-template-columns: repeat(2, 140px);
        align-items: center;
      }
    }

    .div1,
    .div5 {
      display: none;
    }
  }

  @media (max-width: 820px) {
    .upper-container-mobile {
      .mobile-main-title-squares {
        display: none;
      }

      img {
        width: 650px;
      }
    }

    .lower-container {
      .squares-container {
        display: none;
      }
    }

    .welcome-to-esquare {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    h1,
    h2,
    p {
      text-align: center;
    }

    p {
      padding-inline: 10%;
    }
  }

  @media (max-width: 768px) {
    .upper-container {
      display: none;
    }

    .upper-container-mobile {
      img {
        width: 350px;
      }

      .mobile-main-title-squares {
        display: block;
        position: absolute;
        z-index: -999;
        width: 80px;
        height: 80px;

        &.square1 {
          top: 50px;
          left: 20px;
        }

        &.square2 {
          top: 50px;
          right: 20px;
        }

        &.square3 {
          top: 160px;
          left: 40px;
        }

        &.square4 {
          top: 200px;
          right: 50px;
        }
      }
    }

    .lower-container {
      margin: 100px 50px 0 50px;
    }
  }
}

#whyEsquare {
  margin-top: 100px;
  margin-inline: 100px;

  .reasons-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 525px);
    justify-content: center;
    align-items: center;
    row-gap: 32px;
    column-gap: 32px;

    div[class^="reason"] {
      padding: 56px;
      font-size: 16px;
      transition: 0.25s ease-in-out all;

      &:hover {
        border-radius: 32px;
        box-shadow: 4px 4px 13px 3px rgba(37, 211, 234, 0.3);
      }

      h1 {
        font-size: 20px;
        color: #282a7f;
        font-weight: 400;
      }
    }

    &:hover div[class^="reason"]:not(:hover) {
      opacity: 0.5;
    }
  }

  .pic {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    img {
      width: 100px;
      height: 92px;
    }
  }

  @media (max-width: 1400px) {
    margin-inline: 20px;

    .title {
      font-size: 160px;
    }

    .reasons-container {
      column-gap: 50px;
      text-align: center;
    }
  }

  @media (max-width: 1200px) {
    .title {
      font-size: 115px;
    }

    .reasons-container {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  @media (max-width: 820px) {
    .title {
      font-size: 100px;
    }
  }

  @media (max-width: 768px) {
    margin-top: 50px;

    .title {
      height: auto;
      font-size: 45px;
    }
  }
}

#aboutUs {
  margin-top: 100px;
  position: relative;
  padding-block: 140px;
  background: linear-gradient(0deg, #ebfbfb 0%, #e9eaf2 78.5%, #c9cadf 100%);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/assets/backgrounds/clients-aboutus-background.png") no-repeat center center;
    background-size: cover;
    transform: rotate(180deg);
    z-index: -1;
  }

  .title {
    background: linear-gradient(141.25deg,
        rgba(90, 94, 157, 0.2) 24.97%,
        rgba(197, 239, 238, 0.2) 151.45%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 20px;
    font-size: 200px;

    @media (max-width: 1400px) {
      font-size: 180px;
    }

    @media (max-width: 820px) {
      font-size: 120px;
      margin-bottom: 50px;
    }

    @media (max-width: 768px) {
      font-size: 75px;
      margin-bottom: 30px;
    }
  }

  .carousel-wrapper {
    position: relative;
    overflow: hidden;
    justify-content: center;
    max-width: 85rem;
    width: 90%;
    margin: 0 auto;
    height: auto;
    padding: 0 30px;

    @media (max-width: 768px) {
      padding: 10px 0;
      width: 100%;
    }
  }

  .carousel {
    display: flex;
    width: 100%;
    min-width: 100%;
    transition: transform 0.5s ease;
    gap: 15px;
    position: relative;
  }

  .card {
    display: flex;
    flex: 0 0 auto;
    width: calc(100% - 60px);
    justify-content: space-between;
    height: 467px;
    padding: 56px 0 56px 56px;
    border-radius: 32px;
    background: #ffffff;
    box-shadow: 5px 5px 4px 0px #282a7f40;
    overflow: hidden;

    &:focus {
      box-shadow: 5px 5px 27px 0px #35dcd859;
    }

    .content-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 10px;
      padding-right: 56px;

      h3 {
        color: #282a7f;
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
      }

      p {
        font-size: 20px;
        line-height: 30px;
        max-height: 200px;
        overflow-y: auto;
      }

      img {
        width: 150px;
        height: 150px;
        user-select: none;
      }
    }

    .card-number {
      display: flex;
      height: calc(100% + 175px);
      font-size: 300px;
      font-weight: 600;
      align-items: flex-end;
      color: #282a7f;
      user-select: none;
    }

    @media (max-width: 768px) {
      width: 100%;
      padding: 0;

      .content-container {
        align-items: center;
        padding: 20px;

        p {
          font-size: 16px;
          overflow-y: scroll;
          padding: 20px;
        }
      }

      .card-number {
        width: 0;
        position: relative;
        font-size: 100px;
        align-items: normal;
        right: 70px;
      }
    }
  }

  button {
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: #fff;
    border-radius: 50%;
    border: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

    &.prev {
      left: 10px;
    }

    &.next {
      right: 10px;
    }

    @media (max-width: 768px) {
      top: 40%;
    }
  }
}

#ourServices {
  margin-top: 100px;
  margin-inline: 100px;

  .services-container {
    display: flex;
    justify-content: center;
    gap: 100px;

    div[class^="service"] {
      padding: 56px;
      font-size: 16px;
      transition: 0.25s ease-in-out all;

      &:hover {
        border-radius: 32px;
        box-shadow: 4px 4px 13px 3px rgba(37, 211, 234, 0.3);
      }

      h1 {
        font-size: 20px;
        font-weight: 400;
        color: #282a7f;
      }
    }

    &:hover div[class^="service"]:not(:hover) {
      opacity: 0.5;
    }
  }

  @media (max-width: 1400px) {
    margin-inline: 50px;

    .title {
      font-size: 180px;
    }

    .services-container {
      flex-direction: column;
      gap: 40px;
      text-align: center;
      margin-inline: 100px;
    }
  }

  @media (max-width: 1200px) {
    .title {
      font-size: 140px;
    }
  }

  @media (max-width: 820px) {
    .title {
      font-size: 105px;
    }
  }

  @media (max-width: 768px) {
    margin-inline: 20px;

    .title {
      font-size: 50px;
    }

    .services-container {
      margin-inline: 0;

      div[class^="service"] {
        padding: 20px;
      }
    }
  }
}

#clients {
  margin-top: 100px;
  padding-block: 100px;
  position: relative;
  overflow: hidden;
  background: linear-gradient(180deg, #ebfbfb 0%, #e9eaf2 78.5%, #c9cadf 100%);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/assets/backgrounds/clients-aboutus-background.png") no-repeat center center;
    background-size: cover;
    transform: rotate(180deg);
    z-index: -1;
  }

  .title {
    background: linear-gradient(141.25deg,
        rgba(90, 94, 157, 0.2) 24.97%,
        rgba(197, 239, 238, 0.2) 151.45%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .clients-container {
    margin-top: 50px;
    display: grid;
    justify-content: center;
    user-select: none;

    div {
      transition: filter ease-in-out 0.1s;
      transition-delay: 0.2s;
    }
  }

  .row1-slide {
    grid-area: 1 / 1 / 2 / 9;
    display: flex;
    gap: 70px;
    justify-self: center;
  }

  .row2-slide {
    grid-area: 2 / 1 / 3 / 9;
    display: flex;
    gap: 70px;
    justify-self: center;
  }

  .row1-slide.copy,
  .row2-slide.copy {
    display: none;
  }

  .row1-slide img,
  .row2-slide img {
    width: 150px;
    height: 150px;
  }

  .clients-container .row1-slide:hover div,
  .clients-container .row2-slide:hover div {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(4955%) hue-rotate(359deg) brightness(95%) contrast(79%);
  }

  .clients-container .row1-slide .client1:hover {
    filter: brightness(0) saturate(100%) invert(60%) sepia(45%) saturate(1969%) hue-rotate(1deg) brightness(106%) contrast(104%);
  }

  .clients-container .row1-slide .client2:hover {
    filter: brightness(0) saturate(100%) invert(85%) sepia(46%) saturate(1278%) hue-rotate(68deg) brightness(91%) contrast(124%);
  }

  .clients-container .row1-slide .client3:hover {
    filter: brightness(0) saturate(100%) invert(12%) sepia(74%) saturate(7114%) hue-rotate(359deg) brightness(100%) contrast(106%);
  }

  .clients-container .row1-slide .client4:hover {
    filter: brightness(0) saturate(100%) invert(9%) sepia(24%) saturate(7490%) hue-rotate(226deg) brightness(104%) contrast(123%);
  }

  .clients-container .row1-slide .client5:hover {
    filter: brightness(0) saturate(100%) invert(10%) sepia(95%) saturate(4735%) hue-rotate(334deg) brightness(111%) contrast(91%);
  }

  .clients-container .row1-slide .client6:hover {
    filter: brightness(0) saturate(100%) invert(16%) sepia(99%) saturate(6847%) hue-rotate(278deg) brightness(72%) contrast(116%);
  }

  .clients-container .row1-slide .client7:hover {
    filter: brightness(0) saturate(100%) invert(12%) sepia(74%) saturate(7114%) hue-rotate(359deg) brightness(100%) contrast(106%);
  }

  .clients-container .row1-slide .client8:hover {
    filter: brightness(0) saturate(100%) invert(99%) sepia(98%) saturate(6886%) hue-rotate(9deg) brightness(108%) contrast(105%);
  }

  .clients-container .row2-slide .client1:hover {
    filter: brightness(0) saturate(100%) invert(12%) sepia(74%) saturate(7114%) hue-rotate(359deg) brightness(100%) contrast(106%);
  }

  .clients-container .row2-slide .client2:hover {
    filter: brightness(0) saturate(100%) invert(3%) sepia(5%) saturate(292%) hue-rotate(314deg) brightness(94%) contrast(88%);
  }

  .clients-container .row2-slide .client3:hover {
    filter: brightness(0) saturate(100%) invert(43%) sepia(92%) saturate(5611%) hue-rotate(224deg) brightness(89%) contrast(97%);
  }

  .clients-container .row2-slide .client4:hover {
    filter: brightness(0) saturate(100%) invert(19%) sepia(99%) saturate(7447%) hue-rotate(264deg) brightness(87%) contrast(91%);
  }

  .clients-container .row2-slide .client5:hover {
    filter: brightness(0) saturate(100%) invert(15%) sepia(47%) saturate(4901%) hue-rotate(236deg) brightness(93%) contrast(130%);
  }

  .clients-container .row2-slide .client6:hover {
    filter: brightness(0) saturate(100%) invert(27%) sepia(33%) saturate(2009%) hue-rotate(324deg) brightness(112%) contrast(98%);
  }

  .clients-container .row2-slide .client7:hover {
    filter: brightness(0) saturate(100%) invert(60%) sepia(33%) saturate(4578%) hue-rotate(150deg) brightness(97%) contrast(99%);
  }

  .clients-container .row2-slide .client8:hover {
    filter: brightness(0) saturate(100%) invert(15%) sepia(100%) saturate(6831%) hue-rotate(6deg) brightness(108%) contrast(119%);
  }

  @media (max-width: 1400px) {
    .clients-container {
      display: block;
    }

    .row1,
    .row2 {
      overflow: hidden;
      position: relative;
      display: flex;
    }

    .row1:hover .row1-slide,
    .row2:hover .row2-slide {
      animation-play-state: paused;
    }

    .row1-slide,
    .row2-slide {
      display: flex;
      animation: 20s slide infinite linear;
      padding-left: 70px;
    }

    .row1-slide.copy,
    .row2-slide.copy {
      display: flex;
      padding-left: 70px;
    }
  }

  @media (max-width: 768px) {
    padding-block: 20px;

    .title {
      font-size: 100px;
    }

    .clients-container {
      margin: 0;
    }

    .row1-slide img,
    .row2-slide img {
      width: 80px;
      height: 80px;
    }
  }
}

#contactUs {
  margin-top: 100px;

  .form-graphics-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .left-side-squares-container {
    display: grid;
    grid-template-columns: repeat(2, 140px);
    column-gap: 1rem;

    .col1 {
      grid-area: 1 / 1 / 2 / 2;
    }

    .col2 {
      grid-area: 2 / 2 / 4 / 3;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }

  .right-side-squares-container {
    @extend .left-side-squares-container;

    .col1 {
      grid-area: 4 / 2 / 6 / 3;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .col2 {
      grid-area: 5 / 1 / 6 / 2;
    }
  }

  .form-title {
    text-align: center;
    font-size: 20px;
  }

  .contact-card {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    .contact-form {
      display: flex;
      flex-direction: column;
      width: 100%;

      .form-group {

        input,
        textarea {
          width: 97%;
          padding: 10px;
          border: none;
          border-bottom: 1px solid #ccc;

          &:focus {
            outline: none;
            border-color: #007bff;
          }

          &::placeholder {
            color: #aaa;
          }

          &.error {
            border-color: red;
            background-color: #ffe6e6;

            &:focus {
              border-color: darkred;
            }
          }
        }

        textarea {
          resize: none;
        }

        button {
          margin-top: 1.5rem;
          width: 100%;
          padding: 7px;
          background-color: #004ea1;
          color: white;
          font-size: 1rem;
          font-family: "Poppins";
          border: none;
          border-radius: 1rem;
          cursor: pointer;

          &:hover {
            background-color: darken(#007bff, 10%);
          }
        }

        .error-message {
          color: red;
          font-size: 0.8rem;
          margin-top: 5px;
          height: 20px;
        }
      }
    }

    .contact-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1.5rem;
      width: 40%;
      padding: 40px;
      border-radius: 3rem;
      position: relative;
      overflow: hidden;
      background: linear-gradient(90deg,
          #ebfbfb 0%,
          #e9eaf2 78.5%,
          #c9cadf 100%);

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("/assets/backgrounds/clients-aboutus-background.png") no-repeat center center;
        background-size: cover;
        transform: rotate(180deg);
        z-index: -1;
      }

      img {
        width: 50px;
      }

      .email,
      .phone,
      .address {
        display: flex;
        align-items: center;
        gap: 1.2rem;
      }

      a {
        color: black;
      }

      .info-title {
        font-size: 1.5rem;
        color: #333;
        margin-bottom: 10px;
      }
    }
  }

  @media (max-width: 1200px) {
    margin-inline: 50px;

    .title {
      font-size: 140px;
    }

    .left-side-squares-container {
      display: none;
    }
  }

  @media (max-width: 768px) {
    margin-inline: 10px;

    .title {
      font-size: 50px;
    }

    .contact-card {
      flex-direction: column-reverse;

      .contact-info {
        width: 70%;
        align-self: center;
      }
    }
  }
}

footer {
  margin-top: 100px;
  padding-inline: 50px;
  position: relative;
  overflow: hidden;
  background: linear-gradient(180deg, #ebfbfb 0%, #e9eaf2 78.5%, #c9cadf 100%);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/assets/backgrounds/clients-aboutus-background.png") no-repeat center center;
    background-size: cover;
    transform: rotate(180deg);
    z-index: -1;
  }

  .upper-container {
    padding-block: 50px;
    display: flex;
    justify-content: space-between;
  }

  .left-side {
    display: flex;
    gap: 100px;
  }

  nav,
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  a {
    color: black;
    text-decoration: none;
  }

  .right-side h3 {
    margin-bottom: 10px;
  }

  .input-button-container {
    display: flex;
    gap: 10px;

    button {
      width: 50px;
      border-radius: 0.5rem;
      border: none;
      background: linear-gradient(134.63deg, #272a7f -1.06%, #35dcd8 100.77%);

      img {
        width: 17px;
      }
    }

    input {
      width: 250px;
      border-radius: 0.5rem;
      border: none;
      padding: 15px;
      box-shadow: 0px 6px 5.2px 0px #00000014 inset;
    }
  }

  .separator {
    width: 100%;
    height: 1px;
    background-color: rgb(185, 185, 185);
  }

  .lower-container {
    padding-block: 15px;
    display: flex;
    justify-content: space-between;
    height: 100%;
  }

  .social-media-buttons {
    display: flex;
    gap: 10px;
  }

  .social-media-buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 6px;
    background: linear-gradient(134.63deg, #272a7f -1.06%, #35dcd8 100.77%);

    img {
      width: 10px;
    }
  }

  @media (max-width: 768px) {
    padding-inline: 20px;

    .upper-container {
      flex-direction: column;
      align-items: center;
      gap: 50px;
    }

    .left-side {
      flex-direction: column;
      gap: 15px;
      align-items: center;
    }

    .nav,
    ul {
      align-items: center;
    }

    .reserved-rights {
      display: flex;
      align-items: center;

      p {
        font-size: 12px;
      }
    }
  }
}